{
  "openapi": "3.0.1",
  "info": {
    "title": "MVP Production",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://mvpapi.azure-api.net/mvp"
    }
  ],
  "paths": {
    "/api/contributions/contributionareas": {
      "get": {
        "summary": "GetContributionAreas",
        "description": "Gets a list of Contribution areas grouped by Award Names",
        "operationId": "580eb8bfac25510f0c09c1a0",
        "responses": {
          "200": {
            "description": "IEnumerable ContributionAreaViewModel",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/contributions/{offset}/{limit}": {
      "get": {
        "summary": "GetContributions",
        "description": "Supports pagination",
        "operationId": "580eb8bfac25510f0c09c1a1",
        "parameters": [
          {
            "name": "offset",
            "in": "path",
            "description": "Format - int32. Page skip integer",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "path",
            "description": "Format - int32. Page take integer",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. ContributionViewModel object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionViewModel"
                },
                "example": {
                  "Contributions": [
                    {
                      "ContributionId": 0,
                      "ContributionTypeName": "string",
                      "ContributionType": {
                        "Id": "string",
                        "Name": "string",
                        "EnglishName": "string"
                      },
                      "ContributionTechnology": {
                        "Id": "string",
                        "Name": "string",
                        "AwardName": "string",
                        "AwardCategory": "string"
                      },
                      "AdditionalTechnologies": [
                        {
                          "Id": "string",
                          "Name": "string",
                          "AwardName": "string",
                          "AwardCategory": "string"
                        }
                      ],
                      "StartDate": "string",
                      "Title": "string",
                      "ReferenceUrl": "string",
                      "Visibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "AnnualQuantity": 0,
                      "SecondAnnualQuantity": 0,
                      "AnnualReach": 0,
                      "Description": "string",
                      "IsEditable": true
                    }
                  ],
                  "TotalContributions": 0,
                  "PagingIndex": 0
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionViewModel"
                },
                "example": {
                  "Contributions": [
                    {
                      "ContributionId": 0,
                      "ContributionTypeName": "string",
                      "ContributionType": {
                        "Id": "string",
                        "Name": "string",
                        "EnglishName": "string"
                      },
                      "ContributionTechnology": {
                        "Id": "string",
                        "Name": "string",
                        "AwardName": "string",
                        "AwardCategory": "string"
                      },
                      "AdditionalTechnologies": [
                        {
                          "Id": "string",
                          "Name": "string",
                          "AwardName": "string",
                          "AwardCategory": "string"
                        }
                      ],
                      "StartDate": "string",
                      "Title": "string",
                      "ReferenceUrl": "string",
                      "Visibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "AnnualQuantity": 0,
                      "SecondAnnualQuantity": 0,
                      "AnnualReach": 0,
                      "Description": "string",
                      "IsEditable": true
                    }
                  ],
                  "TotalContributions": 0,
                  "PagingIndex": 0
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionViewModel"
                },
                "example": "<ContributionViewModel> <Contributions> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> <IsEditable>true</IsEditable> </Contributions> <TotalContributions>0</TotalContributions> <PagingIndex>0</PagingIndex> </ContributionViewModel>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionViewModel"
                },
                "example": "<ContributionViewModel> <Contributions> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> <IsEditable>true</IsEditable> </Contributions> <TotalContributions>0</TotalContributions> <PagingIndex>0</PagingIndex> </ContributionViewModel>"
              }
            }
          }
        }
      }
    },
    "/api/contributions/{id}": {
      "get": {
        "summary": "GetContributionById",
        "description": "Gets a Contribution item by id",
        "operationId": "580eb8bfac25510f0c09c1a2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. ContributionId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Contribution object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": {
                  "ContributionId": 0,
                  "ContributionTypeName": "string",
                  "ContributionType": {
                    "Id": "string",
                    "Name": "string",
                    "EnglishName": "string"
                  },
                  "ContributionTechnology": {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  },
                  "AdditionalTechnologies": [
                    {
                      "Id": "string",
                      "Name": "string",
                      "AwardName": "string",
                      "AwardCategory": "string"
                    }
                  ],
                  "StartDate": "string",
                  "Title": "string",
                  "ReferenceUrl": "string",
                  "Visibility": {
                    "Id": 0,
                    "Description": "string",
                    "LocalizeKey": "string"
                  },
                  "AnnualQuantity": 0,
                  "SecondAnnualQuantity": 0,
                  "AnnualReach": 0,
                  "Description": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": {
                  "ContributionId": 0,
                  "ContributionTypeName": "string",
                  "ContributionType": {
                    "Id": "string",
                    "Name": "string",
                    "EnglishName": "string"
                  },
                  "ContributionTechnology": {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  },
                  "AdditionalTechnologies": [
                    {
                      "Id": "string",
                      "Name": "string",
                      "AwardName": "string",
                      "AwardCategory": "string"
                    }
                  ],
                  "StartDate": "string",
                  "Title": "string",
                  "ReferenceUrl": "string",
                  "Visibility": {
                    "Id": 0,
                    "Description": "string",
                    "LocalizeKey": "string"
                  },
                  "AnnualQuantity": 0,
                  "SecondAnnualQuantity": 0,
                  "AnnualReach": 0,
                  "Description": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
              }
            }
          }
        }
      }
    },
    "/api/contributions": {
      "put": {
        "summary": "PutContribution",
        "description": "Updates a Contribution item",
        "operationId": "580eb8bfac25510f0c09c1a3",
        "requestBody": {
          "description": "ContributionsModel object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": {
                "ContributionId": 0,
                "ContributionTypeName": "string",
                "ContributionType": {
                  "Id": "string",
                  "Name": "string",
                  "EnglishName": "string"
                },
                "ContributionTechnology": {
                  "Id": "string",
                  "Name": "string",
                  "AwardName": "string",
                  "AwardCategory": "string"
                },
                "AdditionalTechnologies": [
                  {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  }
                ],
                "StartDate": "string",
                "Title": "string",
                "ReferenceUrl": "string",
                "Visibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "AnnualQuantity": 0,
                "SecondAnnualQuantity": 0,
                "AnnualReach": 0,
                "Description": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": {
                "ContributionId": 0,
                "ContributionTypeName": "string",
                "ContributionType": {
                  "Id": "string",
                  "Name": "string",
                  "EnglishName": "string"
                },
                "ContributionTechnology": {
                  "Id": "string",
                  "Name": "string",
                  "AwardName": "string",
                  "AwardCategory": "string"
                },
                "AdditionalTechnologies": [
                  {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  }
                ],
                "StartDate": "string",
                "Title": "string",
                "ReferenceUrl": "string",
                "Visibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "AnnualQuantity": 0,
                "SecondAnnualQuantity": 0,
                "AnnualReach": 0,
                "Description": "string"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
            },
            "application/x-www-form-urlencoded": { }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "post": {
        "summary": "PostContribution",
        "description": "Creates a new Contribution item",
        "operationId": "580eb8bfac25510f0c09c1a4",
        "requestBody": {
          "description": "ContributionsModel object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": {
                "ContributionId": 0,
                "ContributionTypeName": "string",
                "ContributionType": {
                  "Id": "string",
                  "Name": "string",
                  "EnglishName": "string"
                },
                "ContributionTechnology": {
                  "Id": "string",
                  "Name": "string",
                  "AwardName": "string",
                  "AwardCategory": "string"
                },
                "AdditionalTechnologies": [
                  {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  }
                ],
                "StartDate": "string",
                "Title": "string",
                "ReferenceUrl": "string",
                "Visibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "AnnualQuantity": 0,
                "SecondAnnualQuantity": 0,
                "AnnualReach": 0,
                "Description": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": {
                "ContributionId": 0,
                "ContributionTypeName": "string",
                "ContributionType": {
                  "Id": "string",
                  "Name": "string",
                  "EnglishName": "string"
                },
                "ContributionTechnology": {
                  "Id": "string",
                  "Name": "string",
                  "AwardName": "string",
                  "AwardCategory": "string"
                },
                "AdditionalTechnologies": [
                  {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  }
                ],
                "StartDate": "string",
                "Title": "string",
                "ReferenceUrl": "string",
                "Visibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "AnnualQuantity": 0,
                "SecondAnnualQuantity": 0,
                "AnnualReach": 0,
                "Description": "string"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContributionsModel"
              },
              "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
            },
            "application/x-www-form-urlencoded": { }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsPost200ApplicationJsonResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsPost200ApplicationJsonResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsPost200ApplicationJsonResponse"
                },
                "example": "<ApiContributionsPost200ApplicationJsonResponse />"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsPost200ApplicationJsonResponse"
                },
                "example": "<ApiContributionsPost200ApplicationJsonResponse />"
              }
            }
          },
          "201": {
            "description": "Newly created ContributionsModel item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": {
                  "ContributionId": 0,
                  "ContributionTypeName": "string",
                  "ContributionType": {
                    "Id": "string",
                    "Name": "string",
                    "EnglishName": "string"
                  },
                  "ContributionTechnology": {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  },
                  "AdditionalTechnologies": [
                    {
                      "Id": "string",
                      "Name": "string",
                      "AwardName": "string",
                      "AwardCategory": "string"
                    }
                  ],
                  "StartDate": "string",
                  "Title": "string",
                  "ReferenceUrl": "string",
                  "Visibility": {
                    "Id": 0,
                    "Description": "string",
                    "LocalizeKey": "string"
                  },
                  "AnnualQuantity": 0,
                  "SecondAnnualQuantity": 0,
                  "AnnualReach": 0,
                  "Description": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": {
                  "ContributionId": 0,
                  "ContributionTypeName": "string",
                  "ContributionType": {
                    "Id": "string",
                    "Name": "string",
                    "EnglishName": "string"
                  },
                  "ContributionTechnology": {
                    "Id": "string",
                    "Name": "string",
                    "AwardName": "string",
                    "AwardCategory": "string"
                  },
                  "AdditionalTechnologies": [
                    {
                      "Id": "string",
                      "Name": "string",
                      "AwardName": "string",
                      "AwardCategory": "string"
                    }
                  ],
                  "StartDate": "string",
                  "Title": "string",
                  "ReferenceUrl": "string",
                  "Visibility": {
                    "Id": 0,
                    "Description": "string",
                    "LocalizeKey": "string"
                  },
                  "AnnualQuantity": 0,
                  "SecondAnnualQuantity": 0,
                  "AnnualReach": 0,
                  "Description": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContributionsModel"
                },
                "example": "<ContributionsModel> <ContributionId>0</ContributionId> <ContributionTypeName>string</ContributionTypeName> <ContributionType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ContributionType> <ContributionTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </ContributionTechnology> <AdditionalTechnologies> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> </AdditionalTechnologies> <StartDate>string</StartDate> <Title>string</Title> <ReferenceUrl>string</ReferenceUrl> <Visibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </Visibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> </ContributionsModel>"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "delete": {
        "summary": "DeleteContribution",
        "description": "Deletes a Contribution item",
        "operationId": "580eb8bfac25510f0c09c1a5",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Format - int32. Contribution ID (model PrivateSiteId value)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsDelete200ApplicationJsonResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsDelete200ApplicationJsonResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsDelete200ApplicationJsonResponse"
                },
                "example": "<ApiContributionsDelete200ApplicationJsonResponse />"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiContributionsDelete200ApplicationJsonResponse"
                },
                "example": "<ApiContributionsDelete200ApplicationJsonResponse />"
              }
            }
          },
          "204": {
            "description": "NoContent",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/onlineidentities": {
      "get": {
        "summary": "GetOnlineIdentities",
        "description": "Retricted to the current user",
        "operationId": "580eb8bfac25510f0c09c1a7",
        "responses": {
          "200": {
            "description": "OK. IEnumberable object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": [
                  {
                    "PrivateSiteId": 0,
                    "SocialNetwork": {
                      "Id": "string",
                      "Name": "string",
                      "IconUrl": "string",
                      "SystemCollectionEnabled": true
                    },
                    "Url": "string",
                    "OnlineIdentityVisibility": {
                      "Id": 0,
                      "Description": "string",
                      "LocalizeKey": "string"
                    },
                    "ContributionCollected": true,
                    "DisplayName": "string",
                    "UserId": "string",
                    "MicrosoftAccount": "string",
                    "PrivacyConsentStatus": true,
                    "PrivacyConsentCheckStatus": true,
                    "PrivacyConsentCheckDate": "string",
                    "PrivacyConsentUnCheckDate": "string",
                    "Submitted": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": [
                  {
                    "PrivateSiteId": 0,
                    "SocialNetwork": {
                      "Id": "string",
                      "Name": "string",
                      "IconUrl": "string",
                      "SystemCollectionEnabled": true
                    },
                    "Url": "string",
                    "OnlineIdentityVisibility": {
                      "Id": 0,
                      "Description": "string",
                      "LocalizeKey": "string"
                    },
                    "ContributionCollected": true,
                    "DisplayName": "string",
                    "UserId": "string",
                    "MicrosoftAccount": "string",
                    "PrivacyConsentStatus": true,
                    "PrivacyConsentCheckStatus": true,
                    "PrivacyConsentCheckDate": "string",
                    "PrivacyConsentUnCheckDate": "string",
                    "Submitted": true
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": "<OnlineIdentityViewModelArray> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModelArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": "<OnlineIdentityViewModelArray> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModelArray>"
              }
            }
          }
        }
      },
      "put": {
        "summary": "PutOnlineIdentity",
        "description": "Set PrivateSiteId in model to identity id",
        "operationId": "580eb8bfac25510f0c09c1a8",
        "requestBody": {
          "description": "OnlineIdentityViewModel model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": {
                "PrivateSiteId": 0,
                "SocialNetwork": {
                  "Id": "string",
                  "Name": "string",
                  "IconUrl": "string",
                  "SystemCollectionEnabled": true
                },
                "Url": "string",
                "OnlineIdentityVisibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "ContributionCollected": true,
                "DisplayName": "string",
                "UserId": "string",
                "MicrosoftAccount": "string",
                "PrivacyConsentStatus": true,
                "PrivacyConsentCheckStatus": true,
                "PrivacyConsentCheckDate": "string",
                "PrivacyConsentUnCheckDate": "string",
                "Submitted": true
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": {
                "PrivateSiteId": 0,
                "SocialNetwork": {
                  "Id": "string",
                  "Name": "string",
                  "IconUrl": "string",
                  "SystemCollectionEnabled": true
                },
                "Url": "string",
                "OnlineIdentityVisibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "ContributionCollected": true,
                "DisplayName": "string",
                "UserId": "string",
                "MicrosoftAccount": "string",
                "PrivacyConsentStatus": true,
                "PrivacyConsentCheckStatus": true,
                "PrivacyConsentCheckDate": "string",
                "PrivacyConsentUnCheckDate": "string",
                "Submitted": true
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": "<OnlineIdentityViewModel> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModel>"
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": "<OnlineIdentityViewModel> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModel>"
            },
            "application/x-www-form-urlencoded": { }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "post": {
        "summary": "PostOnlineIdentity",
        "description": "Keep PrivateSiteId == 0 and Retricted to the current user",
        "operationId": "580eb8bfac25510f0c09c1a9",
        "requestBody": {
          "description": "OnlineIdentityViewModel object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": {
                "PrivateSiteId": 0,
                "SocialNetwork": {
                  "Id": "string",
                  "Name": "string",
                  "IconUrl": "string",
                  "SystemCollectionEnabled": true
                },
                "Url": "string",
                "OnlineIdentityVisibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "ContributionCollected": true,
                "DisplayName": "string",
                "UserId": "string",
                "MicrosoftAccount": "string",
                "PrivacyConsentStatus": true,
                "PrivacyConsentCheckStatus": true,
                "PrivacyConsentCheckDate": "string",
                "PrivacyConsentUnCheckDate": "string",
                "Submitted": true
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": {
                "PrivateSiteId": 0,
                "SocialNetwork": {
                  "Id": "string",
                  "Name": "string",
                  "IconUrl": "string",
                  "SystemCollectionEnabled": true
                },
                "Url": "string",
                "OnlineIdentityVisibility": {
                  "Id": 0,
                  "Description": "string",
                  "LocalizeKey": "string"
                },
                "ContributionCollected": true,
                "DisplayName": "string",
                "UserId": "string",
                "MicrosoftAccount": "string",
                "PrivacyConsentStatus": true,
                "PrivacyConsentCheckStatus": true,
                "PrivacyConsentCheckDate": "string",
                "PrivacyConsentUnCheckDate": "string",
                "Submitted": true
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": "<OnlineIdentityViewModel> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModel>"
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/OnlineIdentityViewModel"
              },
              "example": "<OnlineIdentityViewModel> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModel>"
            },
            "application/x-www-form-urlencoded": { }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesPost200ApplicationJsonResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesPost200ApplicationJsonResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesPost200ApplicationJsonResponse"
                },
                "example": "<ApiOnlineidentitiesPost200ApplicationJsonResponse />"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesPost200ApplicationJsonResponse"
                },
                "example": "<ApiOnlineidentitiesPost200ApplicationJsonResponse />"
              }
            }
          },
          "201": {
            "description": "Newly created OnlineIdentity item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentity"
                },
                "example": {
                  "OnlineIdentityId": "string",
                  "MvpGuid": "string",
                  "Name": "string",
                  "PrivateSiteId": 0,
                  "OnlineIdentityVisibility": {
                    "Id": 0,
                    "Description": "string"
                  },
                  "SocialNetwork": {
                    "SocialNetworkId": "string",
                    "Name": "string",
                    "Website": "string",
                    "StatusCode": {
                      "Id": 0,
                      "Description": "string"
                    },
                    "SystemCollectionEnabled": true
                  },
                  "Url": "string",
                  "DisplayName": "string",
                  "UserId": "string",
                  "MicrosoftAccount": "string",
                  "ContributionCollected": true,
                  "PrivacyConsentStatus": true,
                  "Submitted": true
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentity"
                },
                "example": {
                  "OnlineIdentityId": "string",
                  "MvpGuid": "string",
                  "Name": "string",
                  "PrivateSiteId": 0,
                  "OnlineIdentityVisibility": {
                    "Id": 0,
                    "Description": "string"
                  },
                  "SocialNetwork": {
                    "SocialNetworkId": "string",
                    "Name": "string",
                    "Website": "string",
                    "StatusCode": {
                      "Id": 0,
                      "Description": "string"
                    },
                    "SystemCollectionEnabled": true
                  },
                  "Url": "string",
                  "DisplayName": "string",
                  "UserId": "string",
                  "MicrosoftAccount": "string",
                  "ContributionCollected": true,
                  "PrivacyConsentStatus": true,
                  "Submitted": true
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentity"
                },
                "example": "<OnlineIdentity> <OnlineIdentityId>string</OnlineIdentityId> <MvpGuid>string</MvpGuid> <Name>string</Name> <PrivateSiteId>0</PrivateSiteId> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> </OnlineIdentityVisibility> <SocialNetwork> <SocialNetworkId>string</SocialNetworkId> <Name>string</Name> <Website>string</Website> <StatusCode> <Id>0</Id> <Description>string</Description> </StatusCode> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <ContributionCollected>true</ContributionCollected> <PrivacyConsentStatus>true</PrivacyConsentStatus> <Submitted>true</Submitted> </OnlineIdentity>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentity"
                },
                "example": "<OnlineIdentity> <OnlineIdentityId>string</OnlineIdentityId> <MvpGuid>string</MvpGuid> <Name>string</Name> <PrivateSiteId>0</PrivateSiteId> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> </OnlineIdentityVisibility> <SocialNetwork> <SocialNetworkId>string</SocialNetworkId> <Name>string</Name> <Website>string</Website> <StatusCode> <Id>0</Id> <Description>string</Description> </StatusCode> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <ContributionCollected>true</ContributionCollected> <PrivacyConsentStatus>true</PrivacyConsentStatus> <Submitted>true</Submitted> </OnlineIdentity>"
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "delete": {
        "summary": "DeleteOnlineIdentity",
        "description": "Delete Online Identity",
        "operationId": "580eb8bfac25510f0c09c1aa",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Format - int32. The items identity id (PrivateSiteId)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesDelete200ApplicationJsonResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesDelete200ApplicationJsonResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesDelete200ApplicationJsonResponse"
                },
                "example": "<ApiOnlineidentitiesDelete200ApplicationJsonResponse />"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOnlineidentitiesDelete200ApplicationJsonResponse"
                },
                "example": "<ApiOnlineidentitiesDelete200ApplicationJsonResponse />"
              }
            }
          },
          "204": {
            "description": "NoContent",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/onlineidentities/{nominationsId}": {
      "get": {
        "summary": "GetOnlineIdentitiesByNominationsId",
        "description": "Retricted to the current user",
        "operationId": "580eb8bfac25510f0c09c1ab",
        "parameters": [
          {
            "name": "nominationsId",
            "in": "path",
            "description": "Format - uuid. Guid nominationsId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. IEnumberable object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": [
                  {
                    "PrivateSiteId": 0,
                    "SocialNetwork": {
                      "Id": "string",
                      "Name": "string",
                      "IconUrl": "string",
                      "SystemCollectionEnabled": true
                    },
                    "Url": "string",
                    "OnlineIdentityVisibility": {
                      "Id": 0,
                      "Description": "string",
                      "LocalizeKey": "string"
                    },
                    "ContributionCollected": true,
                    "DisplayName": "string",
                    "UserId": "string",
                    "MicrosoftAccount": "string",
                    "PrivacyConsentStatus": true,
                    "PrivacyConsentCheckStatus": true,
                    "PrivacyConsentCheckDate": "string",
                    "PrivacyConsentUnCheckDate": "string",
                    "Submitted": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": [
                  {
                    "PrivateSiteId": 0,
                    "SocialNetwork": {
                      "Id": "string",
                      "Name": "string",
                      "IconUrl": "string",
                      "SystemCollectionEnabled": true
                    },
                    "Url": "string",
                    "OnlineIdentityVisibility": {
                      "Id": 0,
                      "Description": "string",
                      "LocalizeKey": "string"
                    },
                    "ContributionCollected": true,
                    "DisplayName": "string",
                    "UserId": "string",
                    "MicrosoftAccount": "string",
                    "PrivacyConsentStatus": true,
                    "PrivacyConsentCheckStatus": true,
                    "PrivacyConsentCheckDate": "string",
                    "PrivacyConsentUnCheckDate": "string",
                    "Submitted": true
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": "<OnlineIdentityViewModelArray> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModelArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineIdentityViewModelArray"
                },
                "example": "<OnlineIdentityViewModelArray> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentityViewModelArray>"
              }
            }
          }
        }
      }
    },
    "/api/profile": {
      "get": {
        "summary": "GetMVPProfile",
        "description": "Gets the current logged on user profile summary",
        "operationId": "580eb8bfac25510f0c09c1ad",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileViewModel"
                },
                "example": {
                  "Metadata": {
                    "PageTitle": "string",
                    "TemplateName": "string",
                    "Keywords": "string",
                    "Description": "string"
                  },
                  "MvpId": "string",
                  "YearsAsMvp": 0,
                  "FirstAwardYear": "string",
                  "AwardCategoryDisplay": "string",
                  "TechnicalExpertise": "string",
                  "InTheSpotlight": true,
                  "Headline": "string",
                  "Biography": "string",
                  "DisplayName": "string",
                  "FullName": "string",
                  "PrimaryEmailAddress": "string",
                  "ShippingCountry": "string",
                  "ShippingStateCity": "string",
                  "Languages": "string",
                  "OnlineIdentities": [
                    {
                      "PrivateSiteId": 0,
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "Url": "string",
                      "OnlineIdentityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "ContributionCollected": true,
                      "DisplayName": "string",
                      "UserId": "string",
                      "MicrosoftAccount": "string",
                      "PrivacyConsentStatus": true,
                      "PrivacyConsentCheckStatus": true,
                      "PrivacyConsentCheckDate": "string",
                      "PrivacyConsentUnCheckDate": "string",
                      "Submitted": true
                    }
                  ],
                  "Certifications": [
                    {
                      "PrivateSiteId": 0,
                      "Id": "string",
                      "Title": "string",
                      "CertificationVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "Activities": [
                    {
                      "PrivateSiteId": 0,
                      "ActivityType": {
                        "Id": "string",
                        "Name": "string",
                        "EnglishName": "string"
                      },
                      "ApplicableTechnology": {
                        "Id": "string",
                        "Name": "string",
                        "AwardName": "string",
                        "AwardCategory": "string",
                        "Statuscode": 0,
                        "Active": true
                      },
                      "DateOfActivity": "string",
                      "DateOfActivityFormatted": "string",
                      "EndDate": "string",
                      "EndDateFormatted": "string",
                      "TitleOfActivity": "string",
                      "ReferenceUrl": "string",
                      "ActivityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "AnnualQuantity": 0,
                      "SecondAnnualQuantity": 0,
                      "AnnualReach": 0,
                      "Description": "string",
                      "OnlineIdentity": {
                        "PrivateSiteId": 0,
                        "SocialNetwork": {
                          "Id": "string",
                          "Name": "string",
                          "IconUrl": "string",
                          "SystemCollectionEnabled": true
                        },
                        "Url": "string",
                        "OnlineIdentityVisibility": {
                          "Id": 0,
                          "Description": "string",
                          "LocalizeKey": "string"
                        },
                        "ContributionCollected": true,
                        "DisplayName": "string",
                        "UserId": "string",
                        "MicrosoftAccount": "string",
                        "PrivacyConsentStatus": true,
                        "PrivacyConsentCheckStatus": true,
                        "PrivacyConsentCheckDate": "string",
                        "PrivacyConsentUnCheckDate": "string",
                        "Submitted": true
                      },
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "AllAnswersUrl": "string",
                      "AllPostsUrl": "string",
                      "IsSystemCollected": true,
                      "IsBelongToLatestAwardCycle": true,
                      "DisplayMode": "string",
                      "ChartColumnIndexes": [
                        0
                      ],
                      "DescriptionSummaryFormat": "string",
                      "DataTableTitle": "string",
                      "SubtitleHeader": "string",
                      "IsAllowEdit": true,
                      "IsAllowDelete": true,
                      "IsFromBookmarklet": true,
                      "Submitted": true
                    }
                  ],
                  "CommunityAwards": [
                    {
                      "PrivateSiteId": 0,
                      "Title": "string",
                      "Description": "string",
                      "DateEarned": "string",
                      "ReferenceUrl": "string",
                      "AwardRecognitionVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "NewsHighlights": [
                    {
                      "Title": "string",
                      "Date": "string",
                      "DateFormatted": "string",
                      "Url": "string",
                      "Type": "string",
                      "Language": "string"
                    }
                  ],
                  "UpcomingEvent": [
                    {
                      "Title": "string",
                      "Date": "string",
                      "DateFormatted": "string",
                      "Url": "string",
                      "Type": "string",
                      "Language": "string"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileViewModel"
                },
                "example": {
                  "Metadata": {
                    "PageTitle": "string",
                    "TemplateName": "string",
                    "Keywords": "string",
                    "Description": "string"
                  },
                  "MvpId": "string",
                  "YearsAsMvp": 0,
                  "FirstAwardYear": "string",
                  "AwardCategoryDisplay": "string",
                  "TechnicalExpertise": "string",
                  "InTheSpotlight": true,
                  "Headline": "string",
                  "Biography": "string",
                  "DisplayName": "string",
                  "FullName": "string",
                  "PrimaryEmailAddress": "string",
                  "ShippingCountry": "string",
                  "ShippingStateCity": "string",
                  "Languages": "string",
                  "OnlineIdentities": [
                    {
                      "PrivateSiteId": 0,
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "Url": "string",
                      "OnlineIdentityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "ContributionCollected": true,
                      "DisplayName": "string",
                      "UserId": "string",
                      "MicrosoftAccount": "string",
                      "PrivacyConsentStatus": true,
                      "PrivacyConsentCheckStatus": true,
                      "PrivacyConsentCheckDate": "string",
                      "PrivacyConsentUnCheckDate": "string",
                      "Submitted": true
                    }
                  ],
                  "Certifications": [
                    {
                      "PrivateSiteId": 0,
                      "Id": "string",
                      "Title": "string",
                      "CertificationVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "Activities": [
                    {
                      "PrivateSiteId": 0,
                      "ActivityType": {
                        "Id": "string",
                        "Name": "string",
                        "EnglishName": "string"
                      },
                      "ApplicableTechnology": {
                        "Id": "string",
                        "Name": "string",
                        "AwardName": "string",
                        "AwardCategory": "string",
                        "Statuscode": 0,
                        "Active": true
                      },
                      "DateOfActivity": "string",
                      "DateOfActivityFormatted": "string",
                      "EndDate": "string",
                      "EndDateFormatted": "string",
                      "TitleOfActivity": "string",
                      "ReferenceUrl": "string",
                      "ActivityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "AnnualQuantity": 0,
                      "SecondAnnualQuantity": 0,
                      "AnnualReach": 0,
                      "Description": "string",
                      "OnlineIdentity": {
                        "PrivateSiteId": 0,
                        "SocialNetwork": {
                          "Id": "string",
                          "Name": "string",
                          "IconUrl": "string",
                          "SystemCollectionEnabled": true
                        },
                        "Url": "string",
                        "OnlineIdentityVisibility": {
                          "Id": 0,
                          "Description": "string",
                          "LocalizeKey": "string"
                        },
                        "ContributionCollected": true,
                        "DisplayName": "string",
                        "UserId": "string",
                        "MicrosoftAccount": "string",
                        "PrivacyConsentStatus": true,
                        "PrivacyConsentCheckStatus": true,
                        "PrivacyConsentCheckDate": "string",
                        "PrivacyConsentUnCheckDate": "string",
                        "Submitted": true
                      },
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "AllAnswersUrl": "string",
                      "AllPostsUrl": "string",
                      "IsSystemCollected": true,
                      "IsBelongToLatestAwardCycle": true,
                      "DisplayMode": "string",
                      "ChartColumnIndexes": [
                        0
                      ],
                      "DescriptionSummaryFormat": "string",
                      "DataTableTitle": "string",
                      "SubtitleHeader": "string",
                      "IsAllowEdit": true,
                      "IsAllowDelete": true,
                      "IsFromBookmarklet": true,
                      "Submitted": true
                    }
                  ],
                  "CommunityAwards": [
                    {
                      "PrivateSiteId": 0,
                      "Title": "string",
                      "Description": "string",
                      "DateEarned": "string",
                      "ReferenceUrl": "string",
                      "AwardRecognitionVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "NewsHighlights": [
                    {
                      "Title": "string",
                      "Date": "string",
                      "DateFormatted": "string",
                      "Url": "string",
                      "Type": "string",
                      "Language": "string"
                    }
                  ],
                  "UpcomingEvent": [
                    {
                      "Title": "string",
                      "Date": "string",
                      "DateFormatted": "string",
                      "Url": "string",
                      "Type": "string",
                      "Language": "string"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileViewModel"
                },
                "example": "<ProfileViewModel> <Metadata> <PageTitle>string</PageTitle> <TemplateName>string</TemplateName> <Keywords>string</Keywords> <Description>string</Description> </Metadata> <MvpId>string</MvpId> <YearsAsMvp>0</YearsAsMvp> <FirstAwardYear>string</FirstAwardYear> <AwardCategoryDisplay>string</AwardCategoryDisplay> <TechnicalExpertise>string</TechnicalExpertise> <InTheSpotlight>true</InTheSpotlight> <Headline>string</Headline> <Biography>string</Biography> <DisplayName>string</DisplayName> <FullName>string</FullName> <PrimaryEmailAddress>string</PrimaryEmailAddress> <ShippingCountry>string</ShippingCountry> <ShippingStateCity>string</ShippingStateCity> <Languages>string</Languages> <OnlineIdentities> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentities> <Certifications> <PrivateSiteId>0</PrivateSiteId> <Id>string</Id> <Title>string</Title> <CertificationVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </CertificationVisibility> </Certifications> <Activities> <PrivateSiteId>0</PrivateSiteId> <ActivityType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ActivityType> <ApplicableTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> <Statuscode>0</Statuscode> <Active>true</Active> </ApplicableTechnology> <DateOfActivity>string</DateOfActivity> <DateOfActivityFormatted>string</DateOfActivityFormatted> <EndDate>string</EndDate> <EndDateFormatted>string</EndDateFormatted> <TitleOfActivity>string</TitleOfActivity> <ReferenceUrl>string</ReferenceUrl> <ActivityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </ActivityVisibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> <OnlineIdentity> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentity> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <AllAnswersUrl>string</AllAnswersUrl> <AllPostsUrl>string</AllPostsUrl> <IsSystemCollected>true</IsSystemCollected> <IsBelongToLatestAwardCycle>true</IsBelongToLatestAwardCycle> <DisplayMode>string</DisplayMode> <ChartColumnIndexes>0</ChartColumnIndexes> <DescriptionSummaryFormat>string</DescriptionSummaryFormat> <DataTableTitle>string</DataTableTitle> <SubtitleHeader>string</SubtitleHeader> <IsAllowEdit>true</IsAllowEdit> <IsAllowDelete>true</IsAllowDelete> <IsFromBookmarklet>true</IsFromBookmarklet> <Submitted>true</Submitted> </Activities> <CommunityAwards> <PrivateSiteId>0</PrivateSiteId> <Title>string</Title> <Description>string</Description> <DateEarned>string</DateEarned> <ReferenceUrl>string</ReferenceUrl> <AwardRecognitionVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </AwardRecognitionVisibility> </CommunityAwards> <NewsHighlights> <Title>string</Title> <Date>string</Date> <DateFormatted>string</DateFormatted> <Url>string</Url> <Type>string</Type> <Language>string</Language> </NewsHighlights> <UpcomingEvent> <Title>string</Title> <Date>string</Date> <DateFormatted>string</DateFormatted> <Url>string</Url> <Type>string</Type> <Language>string</Language> </UpcomingEvent> </ProfileViewModel>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileViewModel"
                },
                "example": "<ProfileViewModel> <Metadata> <PageTitle>string</PageTitle> <TemplateName>string</TemplateName> <Keywords>string</Keywords> <Description>string</Description> </Metadata> <MvpId>string</MvpId> <YearsAsMvp>0</YearsAsMvp> <FirstAwardYear>string</FirstAwardYear> <AwardCategoryDisplay>string</AwardCategoryDisplay> <TechnicalExpertise>string</TechnicalExpertise> <InTheSpotlight>true</InTheSpotlight> <Headline>string</Headline> <Biography>string</Biography> <DisplayName>string</DisplayName> <FullName>string</FullName> <PrimaryEmailAddress>string</PrimaryEmailAddress> <ShippingCountry>string</ShippingCountry> <ShippingStateCity>string</ShippingStateCity> <Languages>string</Languages> <OnlineIdentities> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentities> <Certifications> <PrivateSiteId>0</PrivateSiteId> <Id>string</Id> <Title>string</Title> <CertificationVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </CertificationVisibility> </Certifications> <Activities> <PrivateSiteId>0</PrivateSiteId> <ActivityType> <Id>string</Id> <Name>string</Name> <EnglishName>string</EnglishName> </ActivityType> <ApplicableTechnology> <Id>string</Id> <Name>string</Name> <AwardName>string</AwardName> <AwardCategory>string</AwardCategory> <Statuscode>0</Statuscode> <Active>true</Active> </ApplicableTechnology> <DateOfActivity>string</DateOfActivity> <DateOfActivityFormatted>string</DateOfActivityFormatted> <EndDate>string</EndDate> <EndDateFormatted>string</EndDateFormatted> <TitleOfActivity>string</TitleOfActivity> <ReferenceUrl>string</ReferenceUrl> <ActivityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </ActivityVisibility> <AnnualQuantity>0</AnnualQuantity> <SecondAnnualQuantity>0</SecondAnnualQuantity> <AnnualReach>0</AnnualReach> <Description>string</Description> <OnlineIdentity> <PrivateSiteId>0</PrivateSiteId> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <Url>string</Url> <OnlineIdentityVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </OnlineIdentityVisibility> <ContributionCollected>true</ContributionCollected> <DisplayName>string</DisplayName> <UserId>string</UserId> <MicrosoftAccount>string</MicrosoftAccount> <PrivacyConsentStatus>true</PrivacyConsentStatus> <PrivacyConsentCheckStatus>true</PrivacyConsentCheckStatus> <PrivacyConsentCheckDate>string</PrivacyConsentCheckDate> <PrivacyConsentUnCheckDate>string</PrivacyConsentUnCheckDate> <Submitted>true</Submitted> </OnlineIdentity> <SocialNetwork> <Id>string</Id> <Name>string</Name> <IconUrl>string</IconUrl> <SystemCollectionEnabled>true</SystemCollectionEnabled> </SocialNetwork> <AllAnswersUrl>string</AllAnswersUrl> <AllPostsUrl>string</AllPostsUrl> <IsSystemCollected>true</IsSystemCollected> <IsBelongToLatestAwardCycle>true</IsBelongToLatestAwardCycle> <DisplayMode>string</DisplayMode> <ChartColumnIndexes>0</ChartColumnIndexes> <DescriptionSummaryFormat>string</DescriptionSummaryFormat> <DataTableTitle>string</DataTableTitle> <SubtitleHeader>string</SubtitleHeader> <IsAllowEdit>true</IsAllowEdit> <IsAllowDelete>true</IsAllowDelete> <IsFromBookmarklet>true</IsFromBookmarklet> <Submitted>true</Submitted> </Activities> <CommunityAwards> <PrivateSiteId>0</PrivateSiteId> <Title>string</Title> <Description>string</Description> <DateEarned>string</DateEarned> <ReferenceUrl>string</ReferenceUrl> <AwardRecognitionVisibility> <Id>0</Id> <Description>string</Description> <LocalizeKey>string</LocalizeKey> </AwardRecognitionVisibility> </CommunityAwards> <NewsHighlights> <Title>string</Title> <Date>string</Date> <DateFormatted>string</DateFormatted> <Url>string</Url> <Type>string</Type> <Language>string</Language> </NewsHighlights> <UpcomingEvent> <Title>string</Title> <Date>string</Date> <DateFormatted>string</DateFormatted> <Url>string</Url> <Type>string</Type> <Language>string</Language> </UpcomingEvent> </ProfileViewModel>"
              }
            }
          }
        }
      }
    },
    "/api/profile/{mvpid}": {
      "get": {
        "summary": "GetMVPProfileById",
        "description": "Gets a users public profile",
        "operationId": "580eb8bfac25510f0c09c1ae",
        "parameters": [
          {
            "name": "mvpid",
            "in": "path",
            "description": "Users mvpid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileViewModel"
                },
                "example": {
                  "Metadata": {
                    "PageTitle": "string",
                    "TemplateName": "string",
                    "Keywords": "string",
                    "Description": "string"
                  },
                  "MvpId": "string",
                  "YearsAsMvp": 0,
                  "FirstAwardYear": "string",
                  "AwardCategoryDisplay": "string",
                  "TechnicalExpertise": "string",
                  "InTheSpotlight": true,
                  "Headline": "string",
                  "Biography": "string",
                  "DisplayName": "string",
                  "FullName": "string",
                  "PrimaryEmailAddress": "string",
                  "ShippingCountry": "string",
                  "ShippingStateCity": "string",
                  "Languages": "string",
                  "OnlineIdentities": [
                    {
                      "PrivateSiteId": 0,
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "Url": "string",
                      "OnlineIdentityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "ContributionCollected": true,
                      "DisplayName": "string",
                      "UserId": "string",
                      "MicrosoftAccount": "string",
                      "PrivacyConsentStatus": true,
                      "PrivacyConsentCheckStatus": true,
                      "PrivacyConsentCheckDate": "string",
                      "PrivacyConsentUnCheckDate": "string",
                      "Submitted": true
                    }
                  ],
                  "Certifications": [
                    {
                      "PrivateSiteId": 0,
                      "Id": "string",
                      "Title": "string",
                      "CertificationVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "Activities": [
                    {
                      "PrivateSiteId": 0,
                      "ActivityType": {
                        "Id": "string",
                        "Name": "string",
                        "EnglishName": "string"
                      },
                      "ApplicableTechnology": {
                        "Id": "string",
                        "Name": "string",
                        "AwardName": "string",
                        "AwardCategory": "string",
                        "Statuscode": 0,
                        "Active": true
                      },
                      "DateOfActivity": "string",
                      "DateOfActivityFormatted": "string",
                      "EndDate": "string",
                      "EndDateFormatted": "string",
                      "TitleOfActivity": "string",
                      "ReferenceUrl": "string",
                      "ActivityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "AnnualQuantity": 0,
                      "SecondAnnualQuantity": 0,
                      "AnnualReach": 0,
                      "Description": "string",
                      "OnlineIdentity": {
                        "PrivateSiteId": 0,
                        "SocialNetwork": {
                          "Id": "string",
                          "Name": "string",
                          "IconUrl": "string",
                          "SystemCollectionEnabled": true
                        },
                        "Url": "string",
                        "OnlineIdentityVisibility": {
                          "Id": 0,
                          "Description": "string",
                          "LocalizeKey": "string"
                        },
                        "ContributionCollected": true,
                        "DisplayName": "string",
                        "UserId": "string",
                        "MicrosoftAccount": "string",
                        "PrivacyConsentStatus": true,
                        "PrivacyConsentCheckStatus": true,
                        "PrivacyConsentCheckDate": "string",
                        "PrivacyConsentUnCheckDate": "string",
                        "Submitted": true
                      },
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "AllAnswersUrl": "string",
                      "AllPostsUrl": "string",
                      "IsSystemCollected": true,
                      "IsBelongToLatestAwardCycle": true,
                      "DisplayMode": "string",
                      "ChartColumnIndexes": [
                        0
                      ],
                      "DescriptionSummaryFormat": "string",
                      "DataTableTitle": "string",
                      "SubtitleHeader": "string",
                      "IsAllowEdit": true,
                      "IsAllowDelete": true,
                      "IsFromBookmarklet": true,
                      "Submitted": true
                    }
                  ],
                  "CommunityAwards": [
                    {
                      "PrivateSiteId": 0,
                      "Title": "string",
                      "Description": "string",
                      "DateEarned": "string",
                      "ReferenceUrl": "string",
                      "AwardRecognitionVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "NewsHighlights": [
                    {
                      "Title": "string",
                      "Date": "string",
                      "DateFormatted": "string",
                      "Url": "string",
                      "Type": "string",
                      "Language": "string"
                    }
                  ],
                  "UpcomingEvent": [
                    {
                      "Title": "string",
                      "Date": "string",
                      "DateFormatted": "string",
                      "Url": "string",
                      "Type": "string",
                      "Language": "string"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileViewModel"
                },
                "example": {
                  "Metadata": {
                    "PageTitle": "string",
                    "TemplateName": "string",
                    "Keywords": "string",
                    "Description": "string"
                  },
                  "MvpId": "string",
                  "YearsAsMvp": 0,
                  "FirstAwardYear": "string",
                  "AwardCategoryDisplay": "string",
                  "TechnicalExpertise": "string",
                  "InTheSpotlight": true,
                  "Headline": "string",
                  "Biography": "string",
                  "DisplayName": "string",
                  "FullName": "string",
                  "PrimaryEmailAddress": "string",
                  "ShippingCountry": "string",
                  "ShippingStateCity": "string",
                  "Languages": "string",
                  "OnlineIdentities": [
                    {
                      "PrivateSiteId": 0,
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "Url": "string",
                      "OnlineIdentityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "ContributionCollected": true,
                      "DisplayName": "string",
                      "UserId": "string",
                      "MicrosoftAccount": "string",
                      "PrivacyConsentStatus": true,
                      "PrivacyConsentCheckStatus": true,
                      "PrivacyConsentCheckDate": "string",
                      "PrivacyConsentUnCheckDate": "string",
                      "Submitted": true
                    }
                  ],
                  "Certifications": [
                    {
                      "PrivateSiteId": 0,
                      "Id": "string",
                      "Title": "string",
                      "CertificationVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "Activities": [
                    {
                      "PrivateSiteId": 0,
                      "ActivityType": {
                        "Id": "string",
                        "Name": "string",
                        "EnglishName": "string"
                      },
                      "ApplicableTechnology": {
                        "Id": "string",
                        "Name": "string",
                        "AwardName": "string",
                        "AwardCategory": "string",
                        "Statuscode": 0,
                        "Active": true
                      },
                      "DateOfActivity": "string",
                      "DateOfActivityFormatted": "string",
                      "EndDate": "string",
                      "EndDateFormatted": "string",
                      "TitleOfActivity": "string",
                      "ReferenceUrl": "string",
                      "ActivityVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      },
                      "AnnualQuantity": 0,
                      "SecondAnnualQuantity": 0,
                      "AnnualReach": 0,
                      "Description": "string",
                      "OnlineIdentity": {
                        "PrivateSiteId": 0,
                        "SocialNetwork": {
                          "Id": "string",
                          "Name": "string",
                          "IconUrl": "string",
                          "SystemCollectionEnabled": true
                        },
                        "Url": "string",
                        "OnlineIdentityVisibility": {
                          "Id": 0,
                          "Description": "string",
                          "LocalizeKey": "string"
                        },
                        "ContributionCollected": true,
                        "DisplayName": "string",
                        "UserId": "string",
                        "MicrosoftAccount": "string",
                        "PrivacyConsentStatus": true,
                        "PrivacyConsentCheckStatus": true,
                        "PrivacyConsentCheckDate": "string",
                        "PrivacyConsentUnCheckDate": "string",
                        "Submitted": true
                      },
                      "SocialNetwork": {
                        "Id": "string",
                        "Name": "string",
                        "IconUrl": "string",
                        "SystemCollectionEnabled": true
                      },
                      "AllAnswersUrl": "string",
                      "AllPostsUrl": "string",
                      "IsSystemCollected": true,
                      "IsBelongToLatestAwardCycle": true,
                      "DisplayMode": "string",
                      "ChartColumnIndexes": [
                        0
                      ],
                      "DescriptionSummaryFormat": "string",
                      "DataTableTitle": "string",
                      "SubtitleHeader": "string",
                      "IsAllowEdit": true,
                      "IsAllowDelete": true,
                      "IsFromBookmarklet": true,
                      "Submitted": true
                    }
                  ],
                  "CommunityAwards": [
                    {
                      "PrivateSiteId": 0,
                      "Title": "string",
                      "Description": "string",
                      "DateEarned": "string",
                      "ReferenceUrl": "string",
                      "AwardRecognitionVisibility": {
                        "Id": 0,
                        "Description": "string",
                        "LocalizeKey": "string"
                      }
                    }
                  ],
                  "NewsHighlights": [
                    {
                      "Title": "string",
                      "Date": "string",
                      "DateFormatted": "string",
                      "Url": "string",
[...]
