<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik_v3_Server" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceCredentials>
    <Telerik_v3_Server>
      <add key="Username" value="%TELERIK_USERNAME%" />
      <add key="ClearTextPassword" value="%TELERIK_PASSWORD%" />
    </Telerik_v3_Server>
  </packageSourceCredentials>
  
  <packageSourceMapping>
    <!-- nuget.org packages -->
    <packageSource key="nuget.org">
      <package pattern="Telerik.Licensing" />
      <package pattern="Telerik.FontIcons" />
      <package pattern="Telerik.SvgIcons" />
      <package pattern="*" />
    </packageSource>

    <!-- nuget.telerik.com packages -->
    <packageSource key="Telerik_v3_Server">
      <package pattern="JustMock*" />
      <package pattern="Telerik*" />
      <package pattern="Kendo*" />
      <package pattern="UI.for*" />
      <package pattern="MediaFoundation*" />
    </packageSource>
  </packageSourceMapping>

  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>